<a href="https://colab.research.google.com/github/patryklatka/Analysis-and-Databases/blob/main/Joining_tables_and_subquries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###In this exercise, I learned how to join tables and learned about the functionality of subqueries.###

In [30]:
dsn_database = "wbauer_adb_2023"   # Specify the name of  Database
dsn_hostname = "pgsql-196447.vipserv.org"  # Specify host name
dsn_port = "5432"                # Specify your port number.
dsn_uid = "wbauer_adb"         # Specify your username.
dsn_pwd = "adb2020"        # Specify your password.

install.packages("RPostgres")
library(DBI)
library(RPostgres)

con <- dbConnect(Postgres(), dbname = dsn_database, host=dsn_hostname, port=dsn_port, user=dsn_uid, password=dsn_pwd)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

**Below I wrote some functions, which I then used to solve the tasks.**

In [31]:
film_in_category<- function(category_id)
{
    # A function that returns the result of a database query of the movie title, language, and category for the given category id.
    # Example of the resulting table:
    # | |title |language |category|
    # |0 |Amadeus Holy |English |Action|.
    #
    # The resulting table is to be sorted by so many movie and language.
    #
    # If the input conditions are not met then the function should return NULL.
    #
    # Parameters:
    # category_id (integer): the value of the category id for which we are executing the query.
    #
    # Returns:
    # DataFrame: the DataFrame containing the results of the query.
    if(is.integer(category_id)){
        film_in_category <- dbGetQuery(con, paste("SELECT film.title title, language.name as language, category.name as category
                        FROM film_category
                        INNER JOIN film ON film_category.film_id = film.film_id
                        INNER JOIN language ON film.language_id = language.language_id
                        INNER JOIN category ON category.category_id = film_category.category_id
                        WHERE film_category.category_id =", category_id,
                        "ORDER BY film.title ASC, language.name ASC "))

        return(film_in_category)
    }
    else{
        return(NULL)
    }
}

In [32]:
number_films_in_category <- function(category_id){
    # Function that returns the result of a database query about the number of movies in the given category by the id of the category.
    # Example of the resulting table:
    # | |category |count|
    # |0 |Action |64 |
    #
    # If the input conditions are not met then the function should return a NULL value.
    #
    # Parameters:
    # category_id (integer): the value of the category id for which we are executing the query.
    #
    # Returns:
    # DataFrame: dataFrame containing the results of the query
    if(is.integer(category_id)){
    number_films_in_category <- dbGetQuery(con, paste("SELECT c.name category, COUNT(f.film_id)
                            FROM category c
                            INNER JOIN film_category fc ON c.category_id = fc.category_id
                            INNER JOIN film f on fc.film_id = f.film_id
                            WHERE c.category_id =", category_id,
                            "GROUP BY c.category_id"))
    return(number_films_in_category)
    }
    else{
        return(NULL)
    }
}

In [33]:
number_film_by_length <- function(min_length, max_length){
    # Function that returns the result of the database query for the number of videos for each length between the min_length and max_length values.
    # Example of the resulting table:
    # | |length |count|
    # |0 |46 |64 |
    #
    # If the input conditions are not met then the function should return a NULL value.
    #
    # Parameters:
    # min_length (int,double): value of the minimum length of the movie
    # max_length (int,double): value of the maximum length of the movie
    #
    # Returns:
    # pd.DataFrame: dataFrame containing the results of the query
    if((is.integer(min_length) | is.double(min_length)) & (is.integer(max_length) | is.double(max_length)) & min_length < max_length){
    number_film_by_length <- dbGetQuery(con, paste("SELECT film.length as length, COUNT(film.title) as count
                            FROM category
                            INNER JOIN film_category ON category.category_id = film_category.category_id
                            INNER JOIN film on film_category.film_id = film.film_id
                            WHERE film.length BETWEEN", min_length ,"and",  max_length,
                            "GROUP BY film.length"))
    return(number_film_by_length)
    }
    else{
        return(NULL)
    }
}

In [34]:
client_from_city<- function(city){
    # Function that returns the result of querying the database for a list of customers from the specified city by the city value.
    # Example of the resulting table:
    # | |city |first_name |last_name
    # |0 |Athenai |Linda |Williams
    #
    # The resulting table is to be sorted by customer's last name and first name.
    #
    # If the input conditions are not met then the function should return NULL.
    #
    # Parameters:
    # city (character): the name of the city for which we are to make a list of customers.
    #
    # Returns:
    # dataFrame: dataFrame containing the results of the query
    if(is.character(city)){
    client_from_city <- dbGetQuery(con, paste("SELECT c.city, cus.first_name, cus.last_name
                               FROM customer cus
                               INNER JOIN address ad ON cus.address_id = ad.address_id
                               INNER JOIN city c ON ad.city_id = c.city_id
                               WHERE c.city = '", city, "'", sep = ""))
    return(client_from_city)
    }
    else{
        return(NULL)
    }
}

In [35]:
avg_amount_by_length<-function(length){
    # A function that returns the result of a database query of the average value of movie rentals for a given length of length.
    # Example of the resulting table:
    # | |length |avg
    # |0 |48 |4.295389
    #
    #
    # If the input conditions are not met then the function should return a NULL value.
    #
    # Parameters:
    # length (integer,double): the length of the movie for which we should borrow the average value of borrowed movies.
    #
    # Returns:
    # DataFrame: dataFrame containing the results of the query
    if(is.integer(length) | is.double(length)){
    avg_amount_by_length <- dbGetQuery(con, paste("SELECT f.length, AVG(p.amount)
                                   FROM film f
                                   INNER JOIN inventory i ON f.film_id = i.film_id
                                   INNER JOIN rental r ON i.inventory_id = r.inventory_id
                                   INNER JOIN payment p  ON r.rental_id = p.rental_id
                                   WHERE f.length =", length,
                                   "GROUP BY f.length"))
    return(avg_amount_by_length)
    }
    else{
        return(NULL)
    }
}

In [36]:
client_by_sum_length<-function(sum_min){
    # A function that returns the result of a database query about the total time of rented movies by customers above a given value .
    # Example of the resulting table:
    # | |first_name |last_name |sum
    # |0 |Brian |Wyman |1265
    #
    # The resulting table should be sorted by sum, first_name and customer name.
    # If the input conditions are not met then the function should return NULL.
    #
    # Parameters:
    # sum_min (integer,double): the minimum value of the sum of the length of the rented movies that the customer must meet.
    #
    # Returns:
    # DataFrame: dataFrame containing the results of the query.
    if(is.numeric(sum_min)){
    client_by_sum_length <-dbGetQuery(con, paste("SELECT  cus.first_name, cus.last_name, SUM(f.length)
                               FROM customer cus
                               INNER JOIN rental r ON cus.customer_id = r.customer_id
                               INNER JOIN inventory i ON r.inventory_id = i.inventory_id
                               INNER JOIN film f ON i.film_id = f.film_id
                               GROUP BY cus.first_name, cus.last_name
                               HAVING SUM(f.length) >=", sum_min,
                                "ORDER BY sum(f.length), cus.last_name, cus.first_name "
                               ))

    return(client_by_sum_length)
    }
    else{
        return(NULL)
    }
}

In [37]:
category_statistic_length<-function(name){
    # Function that returns the result of a query to the database about the statistics of the length of movies in the category with the given name.
    # Example of the resulting table:
    # | |category |avg |sum |min |max
    # |0 |Action |111.60 |7143 |47 |185
    #
    # If the input conditions are not met then the function should return NULL.
    #
    # Parameters:
    # name (character): The name of the category for which the statistic is to be output.
    #
    # Returns:
    # DataFrame: DataFrame containing the results of the query.
    if(is.character(name)){
    category_statistic_length <- dbGetQuery(con, paste("SELECT c.name as category, AVG(f.length), SUM(f.length), MIN(f.length), MAX(f.length)
                                        FROM film f
                                        INNER JOIN film_category fc ON f.film_id = fc.film_id
                                        INNER JOIN category c ON fc.category_id = c.category_id
                                        GROUP BY c.name
                                        HAVING c.name = '", name, "'", sep=""))
    return(category_statistic_length)
    }
    else{
        return(NULL)
    }
}

**Find a list of all videos of the same length.**

In [38]:
solution <- dbGetQuery(con, "SELECT title, length
                    FROM film
                    WHERE length = 102")
print(solution)

                title length
1        Boiled Dares    102
2       Falcon Volume    102
3      Giant Troopers    102
4  Heavyweights Beast    102
5     Jeopardy Encino    102
6            Opus Ice    102
7          Panic Club    102
8        Robbers Joon    102
9       Rock Instinct    102
10      Scarface Bang    102
11   Treasure Command    102

**Find all customers living in the same city.**

In [39]:
solution <- dbGetQuery(con, "SELECT city, first_name, last_name
              FROM customer
              INNER JOIN address ON customer.address_id = address.address_id
              INNER JOIN city ON address.city_id = city.city_id
              WHERE city = 'Abu Dhabi'
              ORDER BY first_name ASC")
print(solution)

       city first_name last_name
1 Abu Dhabi        Tom    Milner

**Calculate the average cost of renting all movies.**

In [40]:
solution <- dbGetQuery(con, "SELECT AVG(payment.amount)
                   FROM payment")
print(solution)

       avg
1 4.200606

**Calculate and display the number of movies in all categories.**

In [41]:
solution <- dbGetQuery(con, "SELECT cat.name, COUNT(f.film_id)
                   FROM category cat
                   INNER JOIN  film_category fc ON cat.category_id = fc.category_id
                   INNER JOIN film f ON fc.film_id = f.film_id
                   GROUP BY cat.name
                   ")
print(solution)

          name count
1       Family    69
2        Games    61
3    Animation    66
4     Classics    57
5  Documentary    68
6          New    63
7       Sports    74
8     Children    60
9        Music    51
10      Travel    57
11     Foreign    73
12       Drama    62
13      Horror    56
14      Action    64
15      Sci-Fi    61
16      Comedy    58

**Display the number of all customers grouped by country.**

In [42]:
solution <- dbGetQuery(con, "SELECT ct.country, COUNT(cus.customer_id)
                   FROM customer cus
                   INNER JOIN address ad ON cus.address_id = ad.address_id
                   INNER JOIN city c ON ad.city_id = c.city_id
                   INNER JOIN country ct ON c.country_id = ct.country_id
                   GROUP BY ct.country_id
                   ORDER BY COUNT(cus.customer_id) DESC")
print(solution)

                                  country count
1                                   India    60
2                                   China    53
3                           United States    36
4                                   Japan    31
5                                  Mexico    30
6                      Russian Federation    28
7                                  Brazil    28
8                             Philippines    20
9                                  Turkey    15
10                              Indonesia    14
11                              Argentina    13
12                                Nigeria    13
13                           South Africa    11
14                                 Taiwan    10
15                         United Kingdom     9
16                                   Iran     8
17                                 Poland     8
18                                Germany     7
19                              Venezuela     7
20                                  Italy     7
21                                Vietnam     6
22                               Colombia     6
23                                  Egypt     6
24                                Ukraine     6
25                                 Canada     5
26                            South Korea     5
27                            Netherlands     5
28                               Pakistan     5
29                                  Spain     5
30                           Saudi Arabia     5
31                                 France     4
32                                   Peru     4
33                                  Yemen     4
34                                 Israel     4
35                               Malaysia     3
36                                Ecuador     3
37                                Austria     3
38                                Algeria     3
39                               Paraguay     3
40                                Morocco     3
41                             Mozambique     3
42                            Switzerland     3
43                               Tanzania     3
44                   United Arab Emirates     3
45                               Thailand     3
46                             Bangladesh     3
47                     Dominican Republic     3
48                                  Chile     3
49                             Azerbaijan     2
50                                  Sudan     2
51                       French Polynesia     2
52                                 Greece     2
53                                Bolivia     2
54                             Yugoslavia     2
55                                Belarus     2
56                                  Kenya     2
57                              Kazakstan     2
58                                Myanmar     2
59                                 Angola     2
60                                   Oman     2
61                                Romania     2
62                                 Latvia     2
63                               Cameroon     2
64                            Puerto Rico     2
65  Congo, The Democratic Republic of the     2
66                               Bulgaria     2
67                               Cambodia     2
68                                Hungary     1
69                          Faroe Islands     1
70                                 Kuwait     1
71                                  Nauru     1
72                                Armenia     1
73                                 Gambia     1
74                          Liechtenstein     1
75                            New Zealand     1
76                                 Runion     1
77                         Czech Republic     1
78                          French Guiana     1
79                                 Zambia     1
80                                 Malawi     1
81                                Finland     1
82                                  Tonga     1
83                            Afghanistan     1
84                              Lithuania     1
85                             Madagascar     1
86                   Virgin Islands, U.S.     1
87       Saint Vincent and the Grenadines     1
88                                Moldova     1
89                               Anguilla     1
90                               Slovakia     1
91                                  Nepal     1
92                                Estonia     1
93                                   Chad     1
94                                 Sweden     1
95                                   Iraq     1
96                         American Samoa     1
97                           Turkmenistan     1
98                                 Brunei     1
99                                Bahrain     1
100                               Senegal     1
101                           North Korea     1
102                             Hong Kong     1
103                                Tuvalu     1
104                             Sri Lanka     1
105                              Ethiopia     1
106         Holy See (Vatican City State)     1
107                             Greenland     1
108                               Tunisia     1

**Display information about a store that has more than 100 customers and less than 300 customers.**

In [43]:
solution <- dbGetQuery(con, "SELECT store_id, count(customer_id)
                FROM customer
                GROUP BY store_id
                HAVING count(customer_id) BETWEEN 100 AND 300")
print(solution)

  store_id count
1        2   273

**Select all customers who have watched movies for more than 200 hours**

In [44]:
solution <- dbGetQuery(con, "SELECT cus.first_name, cus.last_name, SUM(f.length)
                               FROM customer cus
                               INNER JOIN rental r ON cus.customer_id = r.customer_id
                               INNER JOIN inventory i ON r.inventory_id = i.inventory_id
                               INNER JOIN film f ON i.film_id = f.film_id
                               GROUP BY cus.first_name, cus.last_name
                               HAVING SUM(f.length) >= 12000")
print(solution)

[1] first_name last_name  sum
<0 rows> (or 0-length row.names)

**Calculate the average value of a movie rental.**

In [45]:
solution<- dbGetQuery(con, "SELECT  f.title, AVG(pay.amount)
                                   FROM payment pay
                                   INNER JOIN rental r ON pay.rental_id = r.rental_id
                                   INNER JOIN inventory i ON i.inventory_id = r.inventory_id
                                   INNER JOIN film f ON f.film_id = i.film_id
                                   GROUP BY f.title")
print(solution)

                          title      avg
1            Graceland Dynamite 6.323333
2                      Opus Ice 6.090000
3              Braveheart Human 3.390000
4                Wonderful Drop 5.865000
5               Rush Goodfellas 2.918571
6                  Purple Movie 4.406667
7                 Minority Kiss 2.324167
8                    Luke Mummy 4.132857
9              Fantasy Troopers 1.704286
10               Grinch Massage 5.490000
11             Gaslight Crusade 3.927500
12         Microcosmos Paradise 3.656667
13                  Saturn Name 5.451538
14            Memento Zoolander 6.836154
15                 Sunset Racer 1.704286
16            Zoolander Fiction 4.456667
17                  Carol Texas 4.695882
18                 Arabia Dogma 1.823333
19                 Minds Truman 7.621579
20                Stepmom Dream 5.253158
21              Baked Cleopatra 5.123333
22                  Closer Bang 6.365000
23                Enough Raging 3.240000
24             Grosse Wonderful 5.865000
25               Innocent Usual 7.374615
26            Sleepless Monsoon 6.107647
27                   Suit Walls 7.095263
28           Wizard Coldblooded 6.056667
29              Lonely Elephant 5.066923
30              Victory Academy 1.434444
31            Bedazzled Married 1.240000
32                 Maker Gables 3.290000
33                 Private Drop 5.390000
34                Worker Tarzan 3.418571
35               Gosford Donnie 6.115000
36              Drop Waterfront 5.490000
37               Annie Identity 2.674211
38             Lesson Cleopatra 3.823333
39                Wanda Chamber 5.490000
40                Garden Island 7.490000
41                 Dwarfs Alter 3.615000
42                Graduate Lord 3.297692
43                Patriot Roman 3.523333
44             Novocaine Flight 2.767778
45            Necklace Outbreak 2.632857
46           Menagerie Rushmore 3.156667
47            Sleeping Suspects 5.535455
48               Uncut Suicides 3.297692
49            Midnight Westward 2.427500
50                 Jersey Sassy 6.656667
51                Rock Instinct 2.872353
52           Magnificent Chitty 6.865000
53             Clones Pinocchio 3.519412
54                Insects Stone 2.045000
55               Giant Troopers 3.874615
56                Loser Hustler 5.990000
57           Heavyweights Beast 5.626364
58      Entrapment Satisfaction 3.297692
59                    Core Suit 5.802500
60               Cyclone Family 3.133571
61                  Cabin Flash 2.847143
62             Slacker Liaisons 5.427500
63                   Jaws Harry 4.605385
64             Bowfinger Gables 5.171818
65            Fellowship Autumn 5.740000
66              Birdcage Casper 2.656667
67            Forever Candidate 3.406667
68                  Guys Falcon 6.615000
69             Dangerous Uptown 5.573333
70             Warlock Werewolf 3.656667
71                 None Spiking 3.190000
72          Bringing Hysterical 3.621579
73             Haunting Pianist 2.390000
74                 Agent Truman 5.884737
75              Motions Details 1.847857
76           Tenenbaums Command 1.656667
77                 Double Wrath 2.704286
78             Tarzan Videotape 5.115000
79             Secrets Paradise 7.767778
80              Birch Antitrust 6.808182
81               Greatest North 3.841852
82                  Sense Greek 6.847143
83              Secretary Rouge 6.267778
84             Invasion Cyclone 3.874615
85             Daughter Madigan 7.767778
86           Congeniality Quest 1.674211
87        Crossroads Casualties 3.740000
88                  Reef Salute 2.171818
89               French Holiday 5.927500
90                 Canyon Stock 1.463684
91          Rugrats Shakespeare 2.418571
92              Highball Potter 1.463684
93           Translation Summer 1.990000
94                Papi Necklace 3.990000
95             Tycoon Gathering 8.656667
96                 Peak Forever 5.267778
97             Loverboy Attacks 1.535455
98             Earring Instinct 3.578235
99              Ship Wonderland 3.204286
100                 Rouge Squad 3.240000
101                  Clue Grail 5.847143
102        Wonderland Christmas 6.799524
103            Finding Anaconda 2.690000
104              Thin Sagebrush 6.717273
105               Nash Chocolat 4.528462
106                  Wrath Mile 1.759231
107               Harold French 1.275714
108                Forrest Sons 4.931176
109                 Pure Runner 5.990000
110                   Turn Star 4.740000
111                 Anthem Luke 5.808182
112               Witches Panic 5.870000
113           Duffel Apocalypse 0.990000
114               Shrek License 3.156667
115        Impossible Prejudice 5.347143
116              Heaven Freedom 3.323333
117              Peach Innocent 6.220000
118              Frisco Forrest 5.990000
119                  Reds Pocus 5.990000
120              Music Boondock 1.225294
121             Chisum Behavior 5.090000
122               Volcano Texas 1.726842
123             Daisy Menagerie 6.132857
124                   Lost Bird 5.090000
125           Caribbean Liberty 8.365000
126       Conversation Downhill 6.754706
127            Lambs Cincinatti 5.790000
128           Escape Metropolis 3.250870
129                  Dumbo Lust 2.323333
130               Pizza Jumanji 4.323333
131             Hills Neighbors 2.799524
132         Chance Resurrection 5.198333
133                Truman Crazy 5.240000
134         Candidate Perdition 5.224706
135             Spiking Element 3.240000
136            Fight Jawbreaker 2.690000
137               Apache Divine 5.740000
138               Shining Roses 2.865000
139            Ishtar Rocketeer 7.156667
140                 Flying Hook 4.095263
141     Desperate Trainspotting 5.323333
142                Greedy Roots 1.143846
143       Forrester Comancheros 5.451538
144                   Dirty Ace 3.682308
145           Trading Pinocchio 5.816087
146               Paths Control 8.190000
147               Graffiti Love 2.605385
148         Amelie Hellfighters 6.790000
149              Pickup Driving 6.256667
150                  Panic Club 7.418571
151                  Crazy Home 2.990000
152              Forward Temple 3.951538
153           Vertigo Northwest 4.740000
154               Jericho Mulan 5.990000
155        Gunfighter Mussolini 5.899091
156             Bilko Anonymous 7.906667
157              Spice Sorority 5.621579
158                Blade Polish 1.490500
159               Massage Image 5.171818
160                   Home Pity 5.573333
161               Boulevard Mob 3.552500
162           Dalmations Sweden 3.045556
163                Hunter Alter 4.990000
164                   Zorro Ark 7.132857
165                Silence Kane 1.056667
166                   Taxi Kick 2.048824
167      Resurrection Silverado 1.305789
168             Suspects Quills 4.397407
169             Dracula Crystal 1.200526
170                Harper Dying 3.890000
171                 Simon North 3.156667
172                 Chitty Lock 3.615000
173           Vacation Boondock 4.726842
174        Ballroom Mockingbird 1.418571
175           Legally Secretary 4.990000
176         Barefoot Manchurian 3.519412
177          Cruelty Unforgiven 1.156667
178          Smoking Barbarella 1.049412
179          Soldiers Evolution 5.275714
180                Robbers Joon 3.297692
181      Telemark Heartbreakers 3.698333
182         Westward Seabiscuit 1.470000
183                 Million Ace 6.107647
184           Notorious Reunion 1.913077
185                 Ali Forever 6.101111
186           Coneheads Smoochy 5.490000
187           Bird Independence 5.990000
188              Intrigue Worst 1.937368
189                  Mask Peach 3.561429
190          Scissorhands Slums 3.573333
191                Boiled Dares 5.143846
192             Majestic Floats 2.456667
193               Past Suicides 5.573333
194              Bull Shawshank 1.365000
195               Masked Bubble 1.305789
196             Reap Unfaithful 3.927500
197               Gunfight Moon 2.228095
198          Sagebrush Clueless 5.990000
199          Beethoven Exorcist 1.535455
200                   Lock Rear 3.061429
201               Breaking Home 4.190000
202             Vietnam Smoochy 1.561429
203          Runaway Tenenbaums 1.704286
204               Head Stranger 6.799524
205              Ace Goldfinger 7.561429
206             Quest Mussolini 3.890000
207               Dancing Fever 2.073333
208              Image Princess 5.490000
209            Fool Mockingbird 7.751905
210                Panther Reds 5.990000
211          Holocaust Highball 1.490000
212           Bright Encounters 7.323333
213            Adaptation Holes 3.171818
214           Deceiver Betrayed 1.240000
215          Antitrust Tomatoes 3.990000
216               Fatal Haunted 4.033478
217              Sons Interview 5.417857
218                 Yentl Idaho 5.847143
219               Modern Dorado 3.573333
220               Monsoon Cause 6.101111
221                  Rage Games 6.305789
222             Uprising Uptown 3.528462
223                  Jason Trap 4.250870
224           Sweet Brotherhood 5.353636
225               Crusade Honey 6.418571
226 Arachnophobia Rollercoaster 4.772609
227           Stallion Sundance 1.323333
228       Creatures Shakespeare 3.552500
229              Easy Gladiator 6.640000
230         Snatchers Montezuma 4.212222
231             Island Exorcist 3.337826
232                 Shock Cabin 3.334828
233         Liberty Magnificent 6.171818
234         Seattle Expecations 6.621053
235                  Gun Bonnie 1.466190
236               Alabama Devil 5.990000
237                 Train Bunch 6.240000
238              Identity Lover 4.740000
239                Clyde Theory 2.990000
240              Troopers Metal 3.347143
241               Primary Glass 1.360370
242              Excitement Eve 3.090000
243            Affair Prejudice 3.990000
244              Impact Aladdin 2.365000
245                 Fury Murder 3.460588
246                Deep Crusade 5.836154
247               Sierra Divide 3.856667
248          Dinosaur Secretary 3.568947
249           Freedom Cleopatra 1.190000
250         Mosquito Armageddon 1.535455
251               Jungle Closer 1.990000
252                 Indian Love 3.123333
253                 Glass Dying 2.990000
254                 Born Spinal 4.990000
255                Life Twisted 4.740000
256               Kissing Dolls 7.107647
257              Greek Everyone 3.284118
258              Massacre Usual 5.990000
259              Meet Chocolate 5.171818
260              Dorado Notting 6.399091
261                 Titans Jerk 6.915926
262                Hanging Deep 6.190000
263        Streetcar Intentions 5.990000
264              Hardly Robbers 3.990000
265                 War Notting 5.490000
266                 Diary Panic 3.115000
267            Instinct Airport 4.107647
268            Bikini Borrowers 5.704286
269               Rebel Airport 0.990000
270       Flamingos Connecticut 6.126364
271        Cincinatti Whisperer 6.535455
272     Trainspotting Strangers 5.212222
273            Pelican Comforts 7.207391
274                Madre Gables 3.682308
275                Lord Arizona 3.990000
276              Feathers Metal 3.545556
277               Hook Chariots 1.374615
278              Groove Fiction 2.401765
279                 Window Side 4.626364
280        Silverado Goldfinger 7.656667
281             Mannequin Worst 4.790000
282                Willow Tracy 3.523333
283               Natural Stock 2.656667
284                 Karate Moon 2.590000
285              Roses Treasure 5.990000
286                   Racer Egg 3.225294
287         Jawbreaker Brooklyn 1.212222
288                 Mixed Doors 3.990000
289          Potter Connecticut 4.190000
290                 Mighty Luck 3.190000
291            Sabrina Midnight 6.037619
292               Roxanne Rebel 1.754706
293              Fidelity Devil 6.545556
294             Madness Attacks 2.859565
295          Mussolini Spoilers 3.190000
296              Star Operation 4.190000
297                 Vanilla Day 5.878889
298                 Bunch Minds 5.190000
299        Sweethearts Suspects 3.471481
300                   Won Dares 3.212222
301                  Lola Agent 6.729130
302             Reunion Witches 2.823333
303             Unfaithful Kill 3.365000
304                  Encino Elf 1.463684
305               Hustler Party 8.671818
306          Spirit Flintstones 1.061429
307      Rollercoaster Bringing 4.434444
308              Details Packer 7.156667
309            Pianist Outfield 1.846667
310                   Luck Opus 3.132857
311          Butterfly Chocolat 4.182308
312             Mallrats United 3.217273
313                Desire Alien 3.240000
314                  Queen Luke 6.132857
315                 Glory Tracy 2.990000
316               Bound Cheaper 2.115000
317            Academy Dinosaur 1.609048
318                  Igby Maker 5.284118
319             Gentlemen Stage 3.540000
320         Pollock Deliverance 3.930588
321               Sleuth Orient 2.568947
322                 Odds Boogie 1.528462
323                 Cowboy Doom 4.132857
324          Prejudice Oleander 5.832105
325                Freddy Storm 5.513810
326         Valentine Vanishing 1.290000
327                   Show Lord 6.626364
328      Confidential Interview 5.698333
329             Armageddon Lost 2.090000
330          Grail Frankenstein 5.115000
331                Edge Kissing 6.143846
332               Half Outfield 3.354091
333               Love Suicides 1.523333
334                 Seven Swarm 6.190000
335                  Oscar Gold 3.350000
336              Chocolat Harry 2.621579
337              Lies Treatment 5.490000
338                Wind Phantom 1.609048
339            Casablanca Super 5.177500
340                   Random Go 3.545556
341               Newsies Story 3.275714
342         Leathernecks Dwarfs 3.656667
343               Knock Warlock 4.751905
344              Joon Northwest 2.365000
345           Pajama Jawbreaker 2.847143
346                 Stage World 4.690000
347             American Circus 7.726842
348                Rear Trading 1.856667
349                 Siege Madre 1.204286
350                 Angels Life 5.190000
351             Crooked Frogmen 1.847143
352            Jingle Sagebrush 5.444545
353                Tramp Others 2.267778
354          Artist Coldblooded 4.275714
355              Beverly Outlaw 5.513810
356                Doom Dancing 3.460588
357                 Mine Titans 8.166471
358         Rings Heartbreakers 2.451538
359          Hunting Musketeers 3.406667
360                 Lights Deer 1.132857
361                  Mars Roman 1.813529
362         Champion Flatliners 6.290000
363           Temple Attraction 5.790000
364                Dragon Squad 2.535455
365                  Roman Punk 1.228095
366                 Moulin Wake 3.240000
367           Fiction Christmas 3.095263
368              Princess Giant 5.073750
369            Empire Malkovich 1.411053
370                   Fish Opus 4.308182
371                Tequila Past 5.490000
372              Theory Mermaid 2.807273
373            Rocketeer Mother 3.490000
374         Divine Resurrection 4.323333
375          Manchurian Curtain 4.275714
376            Casper Dragonfly 6.561429
377                  Mulan Moon 2.808182
378            Newton Labyrinth 2.927500
379                Berets Agent 3.831579
380           Lebowski Soldiers 3.490000
381               Bubble Grosse 5.990000
382                Uptown Young 2.990000
383                  South Wait 4.894762
384              Searchers Wait 5.418571
385             Center Dinosaur 5.799524
386           Spartacus Cheaper 6.767778
387              Wedding Apollo 3.418571
388                   Dawn Pond 7.107647
389              Perfect Groove 3.365000
390                 Ties Hunger 7.767778
391   Satisfaction Confidential 7.677500
392                  Speed Suit 5.615000
393              Halloween Nuts 3.740000
394               Vision Torque 1.990000
395            Blackout Private 3.424783
396                   Iron Moon 5.090000
397            Bonnie Holocaust 2.123333
398                   Coma Head 5.337826
399             Disciple Mother 2.212222
400             Vanishing Rocky 4.754706
401               Paris Weekend 3.406667
402                 Bill Others 3.545556
403                  Mob Duffel 2.790000
404         Expendable Stallion 3.643846
405            Patton Interview 4.513810
406               Club Graffiti 2.283529
407                Alien Center 4.240000
408                Network Peak 4.323333
409                  Jade Bunch 3.590000
410           Outfield Massacre 3.045556
411              Name Detective 5.990000
412          Watership Frontier 2.323333
413             Trojan Tomorrow 4.460000
414        Apocalypse Flamingos 4.990000
415               Cat Coneheads 5.915926
416                Varsity Trip 3.052500
417          Strangelove Desire 3.626364
418            Egypt Tenenbaums 4.177500
419             Pirates Roxanne 2.545000
420             Divorce Shining 4.390000
421               Vampire Whale 6.353636
422                 Oz Liaisons 3.990000
423            Ghostbusters Elf 1.275714
424              Traffic Hobbit 4.990000
425                Whale Bikini 7.590000
426                   Nuts Ties 5.990000
427             Moonwalker Fool 6.899091
428               Cheaper Clyde 1.813529
429                 Watch Tracy 2.256667
430               Citizen Shrek 1.682308
431                   Lust Lock 4.988000
432             Command Darling 6.740000
433        Heartbreakers Bright 6.640000
434              Patient Sister 1.212222
435             Outbreak Divine 1.767778
436                Bed Highball 4.156667
437              Requiem Tycoon 5.878889
438             Jeepers Wedding 5.451538
439              National Story 4.519412
440               Frida Slipper 3.718182
441             Mourning Purple 2.095263
442             Language Cowboy 1.890000
443             Doors President 6.601111
444        Barbarella Streetcar 3.853636
445           Hoosiers Birdcage 5.240000
446               Blindness Gun 5.528462
447                Maltese Hope 5.656667
448             Chamber Italian 5.067692
449            Army Flintstones 2.632857
450                  Moon Bunch 1.374615
451       Tomatoes Hellfighters 1.418571
452                   Wonka Sea 3.712222
453                Hedwig Alter 3.190000
454                  Honey Ties 3.740000
455            Hurricane Affair 3.598696
456              Matrix Snowman 5.115000
457             Nightmare Chill 7.085238
458           Shootist Superfly 1.598696
459               Hanky October 4.555217
460               Orient Closer 4.754706
461               Lawrence Love 1.220769
462                 Flight Lies 5.740000
463          Usual Untouchables 5.490000
464                  Squad Fish 3.990000
465          Shakespeare Saddle 3.840000
466          Shepherd Midsummer 1.250870
467               Wisdom Worker 3.323333
468                 African Egg 4.353636
469                Family Sweet 2.335769
470                  Wait Cider 4.101111
471           October Submarine 5.790000
472          World Leathernecks 3.115000
473          Encounters Curtain 2.156667
474            California Birds 6.717273
475             Brooklyn Desert 5.621579
476                Dream Pickup 3.690000
477               Phantom Glory 3.656667
478                Arizona Bang 4.990000
479         Midsummer Groundhog 7.212222
480              Alaska Phantom 1.642174
481         Stampede Disturbing 2.347143
482           Attraction Newton 6.080909
483                Earth Vision 1.511739
484            Telegraph Voyage 8.630000
485             Clueless Bucket 4.598696
486              King Evolution 7.490000

**Calculate the average value of movie length in all categories.**

In [46]:
solution <- dbGetQuery(con, "SELECT cat.name, AVG(f.length)
                   FROM category cat
                   INNER JOIN  film_category fc ON cat.category_id = fc.category_id
                   INNER JOIN film f ON fc.film_id = f.film_id
                   GROUP BY cat.name")
print(solution)

          name      avg
1       Family 114.7826
2        Games 127.8361
3    Animation 111.0152
4     Classics 111.6667
5  Documentary 108.7500
6          New 111.1270
7       Sports 128.2027
8     Children 109.8000
9        Music 113.6471
10      Travel 113.3158
11     Foreign 121.6986
12       Drama 120.8387
13      Horror 112.4821
14      Action 111.6094
15      Sci-Fi 108.1967
16      Comedy 115.8276

**Find the longest movie titles in all categories.**

In [47]:
solution<- dbGetQuery(con, "SELECT cat.name, f.title, f.length
                   FROM category cat
                   INNER JOIN  film_category fc ON cat.category_id = fc.category_id
                   INNER JOIN film f ON fc.film_id = f.film_id
                    WHERE f.length IN (SELECT MAX(f.length)
                                       FROM category cat
                                       INNER JOIN  film_category fc ON cat.category_id = fc.category_id
                                       INNER JOIN film f ON fc.film_id = f.film_id
                                        GROUP BY cat.name)
                    ORDER BY cat.name")
print(solution)

          name              title length
1       Action     Darn Forrester    185
2       Action       Worst Banger    185
3    Animation     Sons Interview    184
4    Animation     Lawless Vision    181
5    Animation        Gangs Pride    185
6    Animation     Theory Mermaid    184
7    Animation       Pond Seattle    185
8     Children        Fury Murder    178
9     Children     Wrong Behavior    178
10    Classics  Conspiracy Spirit    184
11      Comedy     Control Anthem    185
12 Documentary          Wife Turn    183
13 Documentary     Young Language    183
14       Drama   Wardrobe Phantom    178
15       Drama      Jacket Frisco    181
16      Family     King Evolution    184
17     Foreign     Innocent Usual    178
18     Foreign      Catch Amistad    183
19     Foreign   Crystal Breaking    184
20     Foreign    Hotel Happiness    181
21     Foreign     Intrigue Worst    181
22     Foreign    Madness Attacks    178
23     Foreign   Rocketeer Mother    178
24     Foreign     Sorority Queen    184
25       Games    Moonwalker Fool    184
26       Games     Name Detective    178
27       Games      Chicago North    185
28       Games   Haunting Pianist    181
29      Horror      Love Suicides    181
30      Horror   Analyze Hoosiers    181
31       Music          Home Pity    185
32       Music      Scalawag Duck    183
33         New     Frontier Cabin    183
34         New Runaway Tenenbaums    181
35         New        Wild Apollo    181
36      Sci-Fi     Express Lonely    178
37      Sci-Fi Soldiers Evolution    185
38      Sports    Drop Waterfront    178
39      Sports    Smoochy Control    184
40      Sports     Image Princess    178
41      Sports     Star Operation    181
42      Travel      Muscle Bright    185
43      Travel  Sweet Brotherhood    185

**Find the longest movie in all categories. Compare the result with point 10.**

In [48]:
solution <- dbGetQuery(con, "SELECT title, length
                   from film
                   WHERE length = (SELECT MAX(length)
                                    FROM film)")
print(solution)

                title length
1       Chicago North    185
2      Control Anthem    185
3      Darn Forrester    185
4         Gangs Pride    185
5           Home Pity    185
6       Muscle Bright    185
7        Pond Seattle    185
8  Soldiers Evolution    185
9   Sweet Brotherhood    185
10       Worst Banger    185