<a href="https://colab.research.google.com/github/patryklatka/Analysis-and-Databases/blob/main/Select_queries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### The purpose of the exercise was to connect to a database using R libraries and perform select queries on a sample database. The tasks used a database from the official PostgeSQL toturial.

In [37]:
library(DBI)
library(RPostgres)

dsn_database = 'wbauer_adb_2023'
dsn_hostname = 'pgsql-196447.vipserv.org'
dsn_port = '5432'
dsn_uid = 'wbauer_adb'
dsn_pwd = 'adb2020'

con <- dbConnect(Postgres(), dbname = dsn_database, host=dsn_hostname, port=dsn_port, user=dsn_uid, password=dsn_pwd)

**How many categories of movies do we have in the rental shop?**

In [38]:
num_categ <- dbGetQuery(con, "SELECT count(*)
                                FROM category ")

**View the list of categories in alphabetical order.**

In [39]:
categ_alph <- dbGetQuery(con, "SELECT name
                              FROM category")

**Find the oldest and youngest movie to rent.**

In [40]:
youngest_movie <- dbGetQuery(con, "SELECT title
                             FROM film
                             ORDER BY release_year
                             LIMIT 1")

oldest_movie <- dbGetQuery(con, "SELECT title
                            FROM film
                            ORDER BY release_year
                            DESC  LIMIT 1")

**How many rentals took place between 2005-07-01 and 2005-08-01?**

In [41]:
rentals_0507_058 <- dbGetQuery(con, "SELECT Count(*)
                       FROM rental
                       WHERE rental_date BETWEEN '2005/07/01' AND '2005/08/01'")

**How many rentals took place between 2010-01-01 and 2011-02-01?**

In [42]:
rentals_1001_1102 <- dbGetQuery(con, "SELECT Count(*)
                       FROM rental
                       WHERE rental_date BETWEEN '2010/01/01' AND '2011/02/01'")

**Find the largest rental payment.**

In [43]:
largest_rental <- dbGetQuery(con, 'SELECT max(amount)
                         FROM payment')

**Find all customers from Poland, Nigeria or Bangladesh.**

In [44]:
cust_Pol_Nig_Bang <- dbGetQuery(con, "SELECT customer.first_name, customer.last_name, country.country
                            FROM customer, address, city, country
                            WHERE customer.address_id = address.address_id
                            AND address.city_id = city.city_id
                            AND city.country_id = country.country_id
                            AND country.country IN ('Poland', 'Nigeria','Bangladesh')")

**Where do staff members live?**

In [45]:
staff_houses <- dbGetQuery(con, "SELECT address.address
                       FROM address, staff
                       WHERE staff.address_id = address.address_id")

**How many staff members live in Argentina or Spain?**

In [46]:
staff_Arg_Spa <- dbGetQuery(con, "SELECT count(*)
                  FROM staff, address, city, country
                  WHERE staff.address_id = address.address_id
                  AND address.city_id = city.city_id
                  AND city.country_id = country.country_id
                  AND country.country IN ('Argentina', 'Spain')")

**What categories of movies were rented by customers?**

In [47]:
categ_rented_by_customers <- dbGetQuery(con, "SELECT DISTINCT category.name
                                FROM category
                                INNER JOIN film_category ON category.category_id = film_category.category_id
                                INNER JOIN film ON film_category.film_id = film.film_id
                                INNEr JOIN inventory ON film.film_id = inventory.film_id
                                INNER JOIN rental ON inventory.inventory_id = rental.inventory_id
                                INNER JOIN customer ON rental.customer_id = customer.customer_id")

**Find all categories of movies rented in America.**

In [48]:
categ_rented_Ame <- dbGetQuery(con, "SELECT DISTINCT category.name
                                FROM category
                                INNER JOIN film_category ON category.category_id = film_category.category_id
                                INNER JOIN film ON film_category.film_id = film.film_id
                                INNEr JOIN inventory ON film.film_id = inventory.film_id
                                INNER JOIN rental ON inventory.inventory_id = rental.inventory_id
                                INNER JOIN customer ON rental.customer_id = customer.customer_id
                                INNER JOIN address ON customer.address_id = address.address_id
                                INNER JOIN city ON address.city_id = city.city_id
                                INNER JOIN country ON city.country_id = country.country_id
                                WHERE country.country = 'American Samoa'")

**Find all the titles of the films in which he or she starred: Olympia Pfeiffer or Julia Zellweger or Ellen Presley**

In [49]:
movies_OP_JZ_EP <- dbGetQuery(con, "SELECT film.title
                     FROM film
                     INNER JOIN film_actor ON film.film_id = film_actor.film_id
                     INNER JOIN actor on film_actor.actor_id = actor.actor_id
                     WHERE (actor.first_name = 'Olympia' AND actor.last_name = 'Pfeiffer')
                     OR (actor.first_name = 'Julia ' AND actor.last_name = 'Zellweger ')
                     OR (actor.first_name = 'Ellen ' AND actor.last_name = 'Presley')")