<a href="https://colab.research.google.com/github/patryklatka/Analysis-and-Databases/blob/main/Tidyverse_part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###In this exercise, I continued to study the tidyverse package. ###

In [18]:
install.packages("tidyr")
install.packages("tidyverse")
install.packages("nycflights13")
library(tidyr)
library(tidyverse)
library(nycflights13)


# Create sample data
set.seed(1111) # random number
produkty <- c("Produkt_A", "Produkt_B", "Produkt_C")
kwartały <- c("Q1", "Q2", "Q3", "Q4")
lata = c(2018, 2019, 2020, 2021, 2022)
sales_data <- data.frame(
  Produkt = rep(produkty, each = length(lata)),
  Rok = rep(lata, times = length(produkty)),
  Q1 = sample(100:500, length(lata)*length(produkty)),
  Q2 = sample(100:500, length(lata)*length(produkty)),
  Q3 = sample(100:500, length(lata)*length(produkty)),
  Q4 = sample(100:500, length(lata)*length(produkty))
)

set.seed(1111) # random number
produkty <- c("Produkt_A", "Produkt_B", "Produkt_C")
sklepy <- c("Sklep_X", "Sklep_Y", "Sklep_Z")
miesiace <- c("Styczeń", "Luty", "Marzec")

sales_data_advanced <- data.frame(
  Produkt = rep(produkty, each = length(sklepy) * length(miesiace)),
  Sklep = rep(sklepy, times = length(produkty) * length(miesiace)),
  Miesiac = rep(miesiace, each = length(produkty) * length(sklepy)),
  Sprzedaz = sample(100:500, 27),
  Koszty = sample(30:200, 27),
  Zysk = NA
)
sales_data_advanced$Zysk <- sales_data_advanced$Sprzedaz - sales_data_advanced$Koszty

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

**Analysis of the sales_data dataset.
It contains information about quarterly sales of various products in wide format.**

**Use the pivot_longer() function to convert the sales_data dataset from wide format to long format. The resulting dataset should have columns: Product, Quarter, and Sales.**

**Create a summary table that shows the total sales for each product across all quarters. You can use the group_by() and summarize() functions from the dplyr package.**

**Now use the pivot_wider() function to restore the data in wide format.**

In [19]:
solution = sales_data %>% pivot_longer(cols=c('Q1','Q2','Q3','Q4'), names_to = 'Kwartał') %>% group_by(Produkt, Kwartał) %>% summarise(Sprzedaz=sum(value), .groups='drop')
solution

   Produkt   Kwartał Sprzedaz
1  Produkt_A Q1      1745
2  Produkt_A Q2      1660
3  Produkt_A Q3      1330
4  Produkt_A Q4      1719
5  Produkt_B Q1       978
6  Produkt_B Q2      1715
7  Produkt_B Q3      1617
8  Produkt_B Q4      1588
9  Produkt_C Q1      1000
10 Produkt_C Q2      1335
11 Produkt_C Q3      1690
12 Produkt_C Q4      1831

**A dataset of product sales performance at various stores for several months. It contains information on sales, costs, and profits for different products in different stores.**

**1.Data filtering: Select only those records where the profit is positive.**

**2.Sorting data: Sort the data by descending profit, and then by product name ascending.**

**3.Create new columns: Add a Margin_Percent column that will contain the percentage profit margin for each record.**

**4.Data aggregation: Create a table that shows the average sales, costs and profit for each store.**

**5.Additional data transformation: Add a new Cost_per_Sales column representing the percentage of costs to sales.**

**6.Advanced data selection: Select the records with the highest costs per sale for each product.**

In [20]:
task_1 = sales_data_advanced %>% filter(Zysk > 0)
task_1

   Produkt   Sklep   Miesiac Sprzedaz Koszty Zysk
1  Produkt_A Sklep_X Styczeń 399      117    282
2  Produkt_A Sklep_Y Styczeń 149       94     55
3  Produkt_A Sklep_Z Styczeń 381       39    342
4  Produkt_A Sklep_X Styczeń 391      148    243
5  Produkt_A Sklep_Y Styczeń 425      113    312
6  Produkt_A Sklep_Z Styczeń 210       85    125
7  Produkt_A Sklep_X Styczeń 162      102     60
8  Produkt_A Sklep_Y Styczeń 138       62     76
9  Produkt_A Sklep_Z Styczeń 164       69     95
10 Produkt_B Sklep_X Luty    304       68    236
11 Produkt_B Sklep_Y Luty    281      170    111
12 Produkt_B Sklep_Z Luty    251       78    173
13 Produkt_B Sklep_X Luty    229      108    121
14 Produkt_B Sklep_Y Luty    117      101     16
15 Produkt_B Sklep_Z Luty    122       33     89
16 Produkt_B Sklep_X Luty    308       50    258
17 Produkt_B Sklep_Y Luty    296      152    144
18 Produkt_B Sklep_Z Luty    320       63    257
19 Produkt_C Sklep_X Marzec  279      169    110
20 Produkt_C Sklep_Y Marzec  457       42    415
21 Produkt_C Sklep_Z Marzec  197      188      9
22 Produkt_C Sklep_X Marzec  200      199      1
23 Produkt_C Sklep_Y Marzec  351      153    198
24 Produkt_C Sklep_Z Marzec  482       31    451
25 Produkt_C Sklep_X Marzec  470      151    319
26 Produkt_C Sklep_Y Marzec  368      193    175
27 Produkt_C Sklep_Z Marzec  277      105    172

In [21]:
task_2 = sales_data_advanced %>% arrange(desc(Zysk))
task_2

   Produkt   Sklep   Miesiac Sprzedaz Koszty Zysk
1  Produkt_C Sklep_Z Marzec  482       31    451
2  Produkt_C Sklep_Y Marzec  457       42    415
3  Produkt_A Sklep_Z Styczeń 381       39    342
4  Produkt_C Sklep_X Marzec  470      151    319
5  Produkt_A Sklep_Y Styczeń 425      113    312
6  Produkt_A Sklep_X Styczeń 399      117    282
7  Produkt_B Sklep_X Luty    308       50    258
8  Produkt_B Sklep_Z Luty    320       63    257
9  Produkt_A Sklep_X Styczeń 391      148    243
10 Produkt_B Sklep_X Luty    304       68    236
11 Produkt_C Sklep_Y Marzec  351      153    198
12 Produkt_C Sklep_Y Marzec  368      193    175
13 Produkt_B Sklep_Z Luty    251       78    173
14 Produkt_C Sklep_Z Marzec  277      105    172
15 Produkt_B Sklep_Y Luty    296      152    144
16 Produkt_A Sklep_Z Styczeń 210       85    125
17 Produkt_B Sklep_X Luty    229      108    121
18 Produkt_B Sklep_Y Luty    281      170    111
19 Produkt_C Sklep_X Marzec  279      169    110
20 Produkt_A Sklep_Z Styczeń 164       69     95
21 Produkt_B Sklep_Z Luty    122       33     89
22 Produkt_A Sklep_Y Styczeń 138       62     76
23 Produkt_A Sklep_X Styczeń 162      102     60
24 Produkt_A Sklep_Y Styczeń 149       94     55
25 Produkt_B Sklep_Y Luty    117      101     16
26 Produkt_C Sklep_Z Marzec  197      188      9
27 Produkt_C Sklep_X Marzec  200      199      1

In [22]:
task_3 = sales_data_advanced %>% mutate(Marza_Procentowa = Zysk/Sprzedaz * 100)
task_3

   Produkt   Sklep   Miesiac Sprzedaz Koszty Zysk Marza_Procentowa
1  Produkt_A Sklep_X Styczeń 399      117    282  70.676692
2  Produkt_A Sklep_Y Styczeń 149       94     55  36.912752
3  Produkt_A Sklep_Z Styczeń 381       39    342  89.763780
4  Produkt_A Sklep_X Styczeń 391      148    243  62.148338
5  Produkt_A Sklep_Y Styczeń 425      113    312  73.411765
6  Produkt_A Sklep_Z Styczeń 210       85    125  59.523810
7  Produkt_A Sklep_X Styczeń 162      102     60  37.037037
8  Produkt_A Sklep_Y Styczeń 138       62     76  55.072464
9  Produkt_A Sklep_Z Styczeń 164       69     95  57.926829
10 Produkt_B Sklep_X Luty    304       68    236  77.631579
11 Produkt_B Sklep_Y Luty    281      170    111  39.501779
12 Produkt_B Sklep_Z Luty    251       78    173  68.924303
13 Produkt_B Sklep_X Luty    229      108    121  52.838428
14 Produkt_B Sklep_Y Luty    117      101     16  13.675214
15 Produkt_B Sklep_Z Luty    122       33     89  72.950820
16 Produkt_B Sklep_X Luty    308       50    258  83.766234
17 Produkt_B Sklep_Y Luty    296      152    144  48.648649
18 Produkt_B Sklep_Z Luty    320       63    257  80.312500
19 Produkt_C Sklep_X Marzec  279      169    110  39.426523
20 Produkt_C Sklep_Y Marzec  457       42    415  90.809628
21 Produkt_C Sklep_Z Marzec  197      188      9   4.568528
22 Produkt_C Sklep_X Marzec  200      199      1   0.500000
23 Produkt_C Sklep_Y Marzec  351      153    198  56.410256
24 Produkt_C Sklep_Z Marzec  482       31    451  93.568465
25 Produkt_C Sklep_X Marzec  470      151    319  67.872340
26 Produkt_C Sklep_Y Marzec  368      193    175  47.554348
27 Produkt_C Sklep_Z Marzec  277      105    172  62.093863

In [23]:
task_4 = sales_data_advanced %>% group_by(Sklep) %>% summarise(sredniaSprzedaz=mean(Sprzedaz), sredniKoszt = mean(Koszty), sredniZysk=mean(Zysk))
task_4

  Sklep   sredniaSprzedaz sredniKoszt sredniZysk
1 Sklep_X 304.6667        123.55556   181.1111
2 Sklep_Y 286.8889        120.00000   166.8889
3 Sklep_Z 267.1111         76.77778   190.3333

In [24]:
task_5 = sales_data_advanced %>% mutate(Koszty_na_Sprzedaz=Koszty/Sprzedaz*100)
task_5

   Produkt   Sklep   Miesiac Sprzedaz Koszty Zysk Koszty_na_Sprzedaz
1  Produkt_A Sklep_X Styczeń 399      117    282  29.323308
2  Produkt_A Sklep_Y Styczeń 149       94     55  63.087248
3  Produkt_A Sklep_Z Styczeń 381       39    342  10.236220
4  Produkt_A Sklep_X Styczeń 391      148    243  37.851662
5  Produkt_A Sklep_Y Styczeń 425      113    312  26.588235
6  Produkt_A Sklep_Z Styczeń 210       85    125  40.476190
7  Produkt_A Sklep_X Styczeń 162      102     60  62.962963
8  Produkt_A Sklep_Y Styczeń 138       62     76  44.927536
9  Produkt_A Sklep_Z Styczeń 164       69     95  42.073171
10 Produkt_B Sklep_X Luty    304       68    236  22.368421
11 Produkt_B Sklep_Y Luty    281      170    111  60.498221
12 Produkt_B Sklep_Z Luty    251       78    173  31.075697
13 Produkt_B Sklep_X Luty    229      108    121  47.161572
14 Produkt_B Sklep_Y Luty    117      101     16  86.324786
15 Produkt_B Sklep_Z Luty    122       33     89  27.049180
16 Produkt_B Sklep_X Luty    308       50    258  16.233766
17 Produkt_B Sklep_Y Luty    296      152    144  51.351351
18 Produkt_B Sklep_Z Luty    320       63    257  19.687500
19 Produkt_C Sklep_X Marzec  279      169    110  60.573477
20 Produkt_C Sklep_Y Marzec  457       42    415   9.190372
21 Produkt_C Sklep_Z Marzec  197      188      9  95.431472
22 Produkt_C Sklep_X Marzec  200      199      1  99.500000
23 Produkt_C Sklep_Y Marzec  351      153    198  43.589744
24 Produkt_C Sklep_Z Marzec  482       31    451   6.431535
25 Produkt_C Sklep_X Marzec  470      151    319  32.127660
26 Produkt_C Sklep_Y Marzec  368      193    175  52.445652
27 Produkt_C Sklep_Z Marzec  277      105    172  37.906137

In [25]:
task_6 = sales_data_advanced %>% group_by(Produkt) %>% summarise(sredniaSprzedaz=mean(Sprzedaz), sredniKoszt = mean(Koszty)) %>% mutate(Koszty_na_Sprzedaz=sredniKoszt/sredniaSprzedaz*100)
task_6

  Produkt   sredniaSprzedaz sredniKoszt Koszty_na_Sprzedaz
1 Produkt_A 268.7778         92.11111   34.27036
2 Produkt_B 247.5556         91.44444   36.93896
3 Produkt_C 342.3333        136.77778   39.95456

**Analysis of the flights dataset**

**1.Determine which carrier has the longest arrival delays? Analyze whether the delays are related only to the carrier or also to the destination airport.**

**2.Find the flights that are the most delayed on departure from each airport.**

In [26]:
#added the variable ,x' to check the first x rows to examine whether the delays are associated with a given guide and with the destination direction, as there may have been individual deviations from the standard trip duration.
x = 100000

In [27]:
#check which airlines had the most delays for x equal to 1000, 10000, 100000 sequentially always EV, DL, UA and B6 airlines have the most delays
excersise_1a = flights %>% arrange(desc(arr_delay)) %>% head(x) %>% group_by(carrier) %>% summarise(iloscOpoznienien = n()) %>% arrange(desc(iloscOpoznienien)) %>% mutate(procent = iloscOpoznienien/x * 100) %>% head(5)
excersise_1a

  carrier iloscOpoznienien procent
1 EV      19442            19.442
2 B6      17948            17.948
3 UA      16561            16.561
4 DL      11749            11.749
5 MQ       8811             8.811

In [28]:
#checking which flight directions had the most delays for x equal to 1000, 10000, 100000 sequentially always ATL and ORD directions have the most delays
excersise_1b = flights %>% arrange(desc(arr_delay)) %>% head(x) %>% group_by(dest) %>% summarise(iloscOpoznienien = n()) %>% arrange(desc(iloscOpoznienien)) %>% mutate(procent = iloscOpoznienien/x * 100) %>% head(10)
excersise_1b

   dest iloscOpoznienien procent
1  ATL  5748             5.748
2  ORD  4829             4.829
3  LAX  4345             4.345
4  CLT  4237             4.237
5  MCO  4069             4.069
6  FLL  3983             3.983
7  SFO  3735             3.735
8  BOS  3473             3.473
9  DCA  2915             2.915
10 MIA  2817             2.817

In [30]:
#group the data by origin, then calculate the maximum departure delay time for each airport
excersise_2 = flights %>% group_by(origin) %>% slice_max(arr_delay, na_rm = TRUE)
excersise_2

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     10  1121     1635           1126      1239     1810
2 2013 1      9   641      900           1301      1242     1530
3 2013 3     17  2321      810            911       135     1020
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 1109      MQ      3695   N517MQ  EWR    ORD  111       719     16   35
2 1272      HA        51   N384HA  JFK    HNL  640      4983      9    0
3  915      DL      2119   N927DA  LGA    MSP  167      1020      8   10
  time_hour
1 2013-01-10 16:00:00
2 2013-01-09 09:00:00
3 2013-03-17 08:00:00

**Analysis of the Billboard chart dataset.
The dataset contains information about songs that made the list in 2000.**

**Load the dataset using the read_csv() function.**

**1.Make a table containing all the songs that dropped from the list in September 2000.**

**2.Determine which song of a given genre was on the list the longest.**

In [31]:
billboard <- read.csv("billboard.csv")

#convert date.entered column to Date type to work on it later
billboard$date.entered <- as.Date(billboard$date.entered)



#change date.entered to Date type
billboard$date.entered <- as.Date(billboard$date.entered)



#time to September in a week, if negative then entry date is after September 2000
czas_do_wrzesnia <- ((as.Date("2000-09-02")-billboard$date.entered)/7) %>% as.integer()


my_function <- function(df, cz_do_wrz){
    result <- data.frame()

    for(i in c(1:nrow(df))){

        if((cz_do_wrz[i] %in% c(-3,-2,-1,0))){
            ilosc_tyg_do_sprawdzenia <- 4+cz_do_wrz[i]
            for(j in c(1:ilosc_tyg_do_sprawdzenia)){
                tydzien_sprawdzony <- df[i,] %>% select(matches(paste('x', j,'[^0-9].+',sep='' )))
                if((is.na(tydzien_sprawdzony)) & !(do.call(paste0, df[i,]) %in% do.call(paste0, result)) ){
                    result <- rbind(result, df[i,])
                }
            }

        }
        if((cz_do_wrz[i] > 0) && (!is.na(df[i, cz_do_wrz[i] +7 ])) ){
            for(j in c(1:4)){
                tydzien_sprawdzony <- df[i,] %>% select(matches(paste('x', cz_do_wrz[i] + j,'[^0-9].+',sep='' )))
                if((is.na(tydzien_sprawdzony) & !(do.call(paste0, df[i,]) %in% do.call(paste0, result)))){

                    result <- rbind(result, df[i,])

                }
            }
        }

    }

    return(result)
}

In [32]:
ex_1 <- my_function(df = billboard,cz_do_wrz =  czas_do_wrzesnia)
ex_1

    year artist.inverted
27  2000 Aguilera, Christina
32  2000 Eminem
52  2000 Spears, Britney
72  2000 Jay-Z
90  2000 Avant
98  2000 Goo Goo Dolls
119 2000 Jones, Donell
122 2000 Backstreet Boys, The
147 2000 Rascal Flatts
156 2000 Walker, Clay
178 2000 Heatherly, Eric
213 2000 Lil' Kim
216 2000 Splender
229 2000 Dixie Chicks, The
230 2000 Price, Kelly
285 2000 LFO
288 2000 2Ge+her
295 2000 Levert, Gerald
315 2000 Zombie Nation
    track                                                        time genre
27  I Turn To You                                                4:00 Rock
32  The Real Slim Shady                                          4:42 Rap
52  Oops!.. I Did It Again                                       3:30 Rock
72  Big Pimpin'                                                  3:55 Rap
90  Separated                                                    4:13 Rock
98  Broadway                                                     3:54 Rock
119 Where I Wanna Be                                             6:22 Rock
122 The One                                                      3:46 Rock
147 Prayin' For Daylight                                         3:36 Country
156 The Chain Of Love                                            5:03 Country
178 Flowers On The Wall                                          3:16 Country
213 No Matter What They Say                                      4:12 Rap
216 I Think God Can Explain                                      3:55 R&B
229 Cold Day In July                                             5:12 Country
230 As We Lay                                                    6:20 Rock
285 West Side Story                                              3:27 Rock
288 The Hardest Part Of Breaking Up (Is Getting Back Your Stuff) 3:15 R&B
295 Baby U Are                                                   4:10 R&B
315 Kernkraft 400                                                3:30 Rock
    date.entered date.peaked x1st.week x2nd.week x3rd.week ⋯ x67th.week
27  2000-04-15   2000-07-01  50        39        30        ⋯ NA
32  2000-05-06   2000-06-24  70        32        20        ⋯ NA
52  2000-04-22   2000-06-10  67        38        26        ⋯ NA
72  2000-04-22   2000-07-08  69        52        39        ⋯ NA
90  2000-04-29   2000-05-20  62        32        30        ⋯ NA
98  2000-04-22   2000-07-01  74        58        53        ⋯ NA
119 2000-04-22   2000-07-08  81        71        65        ⋯ NA
122 2000-05-27   2000-07-01  58        50        43        ⋯ NA
147 2000-05-06   2000-08-12  87        78        72        ⋯ NA
156 2000-04-15   2000-06-10  73        65        57        ⋯ NA
178 2000-04-29   2000-08-12  95        88        88        ⋯ NA
213 2000-07-15   2000-08-05  80        72        67        ⋯ NA
216 2000-06-10   2000-06-24  71        66        62        ⋯ NA
229 2000-06-24   2000-08-05  80        79        76        ⋯ NA
230 2000-07-15   2000-08-05  82        69        69        ⋯ NA
285 2000-08-05   2000-08-12  96        84        88        ⋯ NA
288 2000-09-02   2000-09-09  91        87        92        ⋯ NA
295 2000-08-19   2000-08-26  96        89        92        ⋯ NA
315 2000-09-02   2000-09-02  99        99        NA        ⋯ NA
    x68th.week x69th.week x70th.week x71st.week x72nd.week x73rd.week
27  NA         NA         NA         NA         NA         NA
32  NA         NA         NA         NA         NA         NA
52  NA         NA         NA         NA         NA         NA
72  NA         NA         NA         NA         NA         NA
90  NA         NA         NA         NA         NA         NA
98  NA         NA         NA         NA         NA         NA
119 NA         NA         NA         NA         NA         NA
122 NA         NA         NA         NA         NA         NA
147 NA         NA         NA         NA         NA         NA
156 NA         NA         NA         NA         NA         NA
178 NA         NA         NA         NA         NA         NA
213 NA         NA         NA         NA         NA         NA
216 NA         NA         NA         NA         NA         NA
229 NA         NA         NA         NA         NA         NA
230 NA         NA         NA         NA         NA         NA
285 NA         NA         NA         NA         NA         NA
288 NA         NA         NA         NA         NA         NA
295 NA         NA         NA         NA         NA         NA
315 NA         NA         NA         NA         NA         NA
    x74th.week x75th.week x76th.week
27  NA         NA         NA
32  NA         NA         NA
52  NA         NA         NA
72  NA         NA         NA
90  NA         NA         NA
98  NA         NA         NA
119 NA         NA         NA
122 NA         NA         NA
147 NA         NA         NA
156 NA         NA         NA
178 NA         NA         NA
213 NA         NA         NA
216 NA         NA         NA
229 NA         NA         NA
230 NA         NA         NA
285 NA         NA         NA
288 NA         NA         NA
295 NA         NA         NA
315 NA         NA         NA

In [33]:
ex_2 <- apply(billboard, 1, function(row) sum(!is.na(row)))
song_longest <- billboard[which(ex_2 == max(ex_2)), 'track']
song_longest

[1] "Higher"